@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#box a {
    text-decoration: none;
}

li {
    list-style: none;
}

#box {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
}


/* flex 定位 */

.dingwei {
    position: fixed;
    right: 0;
    bottom: 20px;
    z-index: 100;
}

.dingwei span {
    display: block;
    width: 38px;
    height: 38px;
    font-size: 25px;
    color: #cecece;
}

.dingwei li {
    position: relative;
}

.dingwei span:hover {
    color: #333333;
}

.dingwei li:hover p {
    display: block;
}

.dingwei p {
    width: 90px;
    height: 38px;
    position: absolute;
    top: 0;
    left: -100px;
    font-size: 12px;
    text-align: center;
    line-height: 38px;
    color: #333;
    background: white;
    display: none;
}


/* 定位 */

.dingweia {
    position: fixed;
    width: 100px;
    height: 351px;
    top: 100px;
    z-index: 100;
    right: -100px;
}

.dingweia li {
    height: 39px;
    width: 100px;
    text-align: center;
    color: #cecece;
    padding-top: 12px;
    cursor: pointer;
}

.hovera {
    border-right: 2px solid red;
    color: #333;
}

.dingweia li span {
    float: right;
    width: 100%;
    border-right: 2px solid white;
}

.dingweia li:hover span {
    border-right: 2px solid red;
    color: #333;
}


/* 头部导航条 */

.nav {
    width: 100%;
    height: 36px;
    background: black;
    display: flex;
    justify-content: center;
    line-height: 36px;
    min-width: 1200px;
}

.nav a:hover {
    color: white;
}

.nav div {
    width: 1200px;
    height: 36px;
    color: #cecece;
    font-size: 12px;
}

.nav ul li a {
    color: #cecece;
    text-decoration: none;
}

.nav ul li span {
    width: 1px;
    color: 10px;
}

.left {
    height: 36px;
    float: left;
    line-height: 36px;
}

.left li {
    float: left;
    cursor: pointer;
    line-height: 36px;
    position: relative;
}

.right {
    height: 36px;
    float: right;
    line-height: 36px;
}

.right li a {
    margin-left: 4px;
    line-height: 36px;
}

.right li {
    float: right;
    height: 36px;
    cursor: pointer;
    position: relative;
}


/* 二级菜单a */

.left li:last-child {
    padding: 0 15px 0 5px;
    text-align: center;
}

.left li:last-child:hover {
    color: red;
    background: white;
}

.left li:last-child:hover .nav-ejcaa {
    display: block;
}

.nav-ejcaa {
    background: white;
    width: 100px;
    height: 140px;
    position: absolute;
    left: -30px;
    bottom: -140px;
    opacity: 99;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.nav-ejcbb {
    background: white;
    width: 100px;
    height: 140px;
    position: absolute;
    left: -23px;
    bottom: -140px;
    opacity: 99;
    z-index: 11;
    text-align: center;
    display: none;
}

.nav-ejcbb li {
    text-align: center;
    width: 100%;
}


/* .huahua {
    margin-left: -5px;
} */

.huahua:hover .nav-ejcbb {
    display: block;
}

.huahua:hover {
    background: white;
    color: red;
}

.nav-ejcaa a:hover {
    color: red;
}

.nav-ejcbb a:hover {
    color: red;
}

.nav-ejcaa li {
    width: 100%;
}

.nav-ejcaa ul li a {
    display: block;
    width: 100px !important;
    color: #cecece;
    text-align: center;
    float: left;
    cursor: pointer;
}

.right li span {
    margin-left: 3px;
}

.right :nth-child(2) {
    width: 70px;
}

.right :nth-child(7) {
    width: 50px;
    margin-top: 2px;
}


/* 头部 */

.header {
    width: 1200px;
    height: 74px;
    display: flex;
    align-items: center;
    min-width: 1200px;
}

.header a img {
    display: block;
    width: 205px;
    height: 36px;
}

.header :nth-child(2) li {
    float: left;
    margin-right: 20px;
}

.header :nth-child(2) li img {
    display: block;
    width: 74px;
    height: 24px;
}

.header :nth-child(2) li a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

.header ul {
    margin-right: 262px;
}

.header input {
    height: 30px;
    float: right;
    outline: none;
}

.header input:nth-child(3) {
    background: #cecece;
    width: 205px;
    border: none;
    border-radius: 10px 0 0 10px;
    margin-top: 2px;
}

.header span:nth-child(4) {
    text-align: center;
    line-height: 30px;
    width: 35px;
    height: 30px;
    font-size: 20px;
    color: #333;
    background: #cecece;
    border: none;
    border-radius: 0 10px 10px 0;
}


/* 轮播图 */

.lbt {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 74px;
    overflow: hidden;
    min-width: 1200px;
}

#box .lbt img {
    display: block;
    position: absolute;
    width: 100%;
    height: 550px;
    opacity: 0;
    filter: alpha(opacity=0);
}

#ttt {
    opacity: 1;
    filter: alpha(opacity=100);
}

#t1 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    background: #cecece;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    opacity: .5;
}

#t2 {
    opacity: .5;
    font-size: 18px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40%;
    right: 18%;
    color: white;
    text-align: center;
    line-height: 60px;
    background: #cecece;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    cursor: pointer;
}

#box .lbt ul {
    position: absolute;
    bottom: 100px;
    left: 68%;
    z-index: 100;
}

#box .lbt ul li {
    width: 20px;
    height: 20px;
    color: black;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border-radius: 50%;
    margin: 10px;
    float: left;
    cursor: pointer;
    border: 1px solid white;
    z-index: 100;
}

#box .lbt .bzd {
    background: white;
}


/* 二级导航 */

.rjcd {
    width: 1200px;
    margin-bottom: 10px;
    position: relative;
}

.rjcd ul li:hover {
    background: #ceccee;
}

.rjcd ul li {
    position: relative;
}

.rjcd-aa a {
    color: #333;
    text-decoration: none;
}

.rjcd-aa a:hover {
    background: #cecece;
}

.rjcd-aa {
    width: 400px;
    height: 440px;
    background: white;
    position: absolute;
    top: 40px;
    left: 200px;
    z-index: 100;
    /* opacity: 100; */
    display: none;
}

.rjcd-aa a {
    color: #333333 !important;
    text-decoration: none !important;
}

.rjcd div a {
    margin: 20px 5px 20px 5px;
    float: left;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.rjcd div a img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#box .rjcd ul {
    margin-top: 40px;
    width: 200px;
    height: 440px;
    z-index: 11;
    color: #333;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.95);
    opacity: .9999;
}

.rjcd ul li {
    width: 100%;
    height: 44px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    color: #333;
    opacity: .5;
    cursor: pointer;
}

.rjcd ul li p {
    margin-left: 10px;
    line-height: 44px;
}

.rjcd ul li span {
    margin-right: 10px;
    line-height: 44px;
}


/* 轮播图下方区域 */

.grzx a:hover {
    color: red !important;
}

.grzx {
    margin-top: 10px;
    width: 1200px;
    min-width: 1200px;
    background: white;
    border-radius: 20px;
    height: 88px;
    z-index: 11;
    opacity: .9;
    display: flex;
    align-items: center;
}

.grzx div:nth-child(1) {
    width: 270px;
    height: 52px;
    border-right: 1px solid #cecece;
}

.grzx div:nth-child(1) img {
    display: block;
    width: 52px;
    height: 52px;
    float: left;
    margin-left: 20px;
}

.grzx div:nth-child(1) div {
    float: right;
    font-size: 14px;
    color: #999999;
    width: 148px;
    height: 50px;
    margin-right: 20px;
}

.grzx div:nth-child(1) div p {
    margin-left: 10px;
}

.grzx div:nth-child(1) div a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}


/* .grzx div:nth-child(1) div div {
   
} */

.grzx div:nth-child(1) div span {
    display: block;
    width: 148px;
    height: 22px;
}

.grzx div:nth-child(1) div span a:nth-child(1) {
    float: left;
    display: block;
    text-align: center;
    line-height: 22px;
    width: 60px;
    height: 22px;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
}

.grzx div:nth-child(1) div span a:nth-child(1):hover {
    background: red;
    color: white !important;
}

.grzx div:nth-child(1) div span a:nth-child(2) {
    float: right;
    display: block;
    text-align: center;
    line-height: 22px;
    width: 60px;
    height: 22px;
    background: #595454;
    color: #fde4b3;
    border-radius: 5px;
}


/* 第二部分 */

.grzx ul {
    width: 660px;
    height: 64px;
}

.grzx ul li {
    width: 104px;
    height: 64px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grzx ul li span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.grzx ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #777777;
}


/* disanbufen */

.grzx div:nth-child(3) {
    width: 267px;
    height: 88px;
    border-left: 1px solid #cecece;
    display: flex;
    flex-direction: column;
}

.grzx div:nth-child(3) div {
    width: 266px;
    height: 44px;
    border-right: none;
}

.grzx div:nth-child(3) div h3 {
    width: 28px;
    height: 44px;
    font-size: 14px;
    line-height: 4px;
    font-weight: bold;
    margin-left: 20px;
    float: left;
}

.grzx div:nth-child(3) div a {
    float: right;
    display: block;
    width: 190px;
    height: 43px;
    text-align: center;
    text-decoration: none;
    color: #777777;
    line-height: 43px;
}

.grzx div:nth-child(3) ul {
    width: 262px;
    height: 44px;
    border-top: solid 1px #cecece;
}

.grzx div:nth-child(3) ul li {
    width: 86px !important;
    height: 42px !important;
}

.grzx div:nth-child(3) ul li span {
    display: block;
    width: 20px;
    height: 20px;
    color: 20px;
    border-radius: none;
    background: white;
}

.grzx div:nth-child(3) ul li a {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 图片区域 */

#box .tu {
    width: 1200px;
    min-width: 1200px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#box .tu a {
    border: none !important;
}

#box .tu img {
    display: block;
    width: 290px;
    height: 200px;
}

#box h2 {
    width: 1200px;
    font-size: 26px;
    margin: 27px 0 13px 0;
    text-align: left;
}

#box .tua {
    width: 1200px;
    min-width: 1200px;
    height: 604px;
}

.tua div:nth-child(1) {
    float: left;
    width: 230px;
    height: 592px;
}

.tua div:nth-child(1) img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.tua div:nth-child(2) {
    width: 968px;
    height: 604px;
    float: right;
}

.tua div:nth-child(2) ul li a {
    width: 230px;
    height: 290px;
    background: #F5f5f5;
    float: left;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.tua div:nth-child(2) ul img {
    display: block;
    width: 150px;
    height: 150px;
}

.tua div:nth-child(2) ul h5 {
    color: #3A3A3A;
}

.tua div:nth-child(2) ul p {
    color: #777777;
}

.tua div:nth-child(2) ul div {
    color: #d0021b;
}

.tua div:nth-child(2) ul span {
    display: block;
    color: white;
    background: red;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 0;
}

#box .tub {
    height: 242px;
    width: 1200px;
    min-width: 1200px;
    background: white;
    margin-bottom: 60px;
}

.tub ul li {
    float: left;
}

.tub ul li a {
    width: 230px;
    height: 294px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.tub ul img {
    display: block;
    width: 150px;
    height: 150px;
}

.tub ul h5 {
    color: #3A3A3A;
    height: 36px;
    width: 230px;
    background: #f3f3f3;
    text-align: center;
    line-height: 36px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

.tub ul p {
    color: #777777;
}

.tub ul div {
    color: #d0021b;
}

.tub ul span {
    display: block;
    color: white;
    background: red;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 0;
}


/* 小轮播图 */


/* 底部 */


/* 第一块 */

.foot {
    width: 100%;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-wan ul {
    width: 1200px;
    min-width: 1200px;
    height: 82px;
    display: flex;
    align-items: center;
}

.foot-wan ul li {
    flex: 1;
}

.foot-wan ul li a {
    color: #3a3a3a;
    font-size: 18px;
}


/* .foot div:nth-of-type(2) {
    height: 211px;
    width: 1200px;
    min-width: 1200px;
} */

.foot-tu {
    min-width: 1200px;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
    padding: 20px 0;
}

.foot-left {
    width: 921px;
    height: 160px;
    float: left;
}

.foot-left span {
    display: block;
    width: 153px;
    height: 100%;
    float: left;
}

.foot-left span a {
    color: #777777;
    font-size: 12px;
    text-decoration: none;
}

.foot-left span a:hover {
    color: red;
}


/*  */

.foot-right1 {
    width: 278px;
    height: 160px;
    border-left: 1px solid #cecece;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.foot-right1 h4 {
    color: #575757;
    font-size: 24px;
    font-weight: bolder;
}

.foot-right1 a {
    text-decoration: none !important;
}

.foot-right1 p {
    font-size: 14px;
    color: #575757;
}

.foot-right1 a {
    width: 170px;
    height: 34px;
    border-radius: 10px;
    background: #333333;
    color: #F5f5f5;
    text-align: center;
    line-height: 34px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.foot-right1 a div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    background: #F5f5f5;
    opacity: 0;
}

.foot-right1 a :hover {
    opacity: .2;
}

.foot-right1 a span {
    margin-right: 20px;
}

i {
    font-style: normal;
    float: left;
}

.foot-right1 div li {
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.foot-right1 div {
    margin-top: 20px;
    width: 250px;
    height: 24px;
    padding-left: 20px;
}

.foot .foot-right1 div ul a {
    background: white;
    line-height: 24px;
}

.foot-right1 div ul a span {
    text-align: center;
    line-height: 24px;
    display: block;
    width: 24px !important;
    height: 24px !important;
    color: #3a3a3a;
    font-size: 18px;
    margin-right: 20px;
}

.foot-bottom {
    width: 1200px;
    min-width: 1200px;
    height: 114px;
}

.foot-bottom a:nth-child(1) img {
    display: block;
    width: 82px;
    height: 20px;
    float: left;
    margin-right: 20px;
}

.foot-bottom a:nth-child(3) img {
    display: block;
    width: 70px;
    height: 24px;
    float: right;
}

.foot-bottom div {
    float: left;
    width: 726px;
    height: 61px;
    margin-top: 5px;
}

.foot-bottom div ul li {
    float: left;
    border-left: 1px solid #cecece;
    margin: 0 2px;
    padding: 0 3px;
    height: 12px;
    line-height: 12px;
}

.foot-bottom div ul li:nth-child(1) {
    border: none !important;
    margin-left: 0;
    padding-left: 0;
}

.foot-bottom div ul li:nth-child(10) {
    margin-right: 0;
    padding-right: 0;
}

.foot-bottom div ul li a {
    font-size: 12px;
    color: #777777;
    text-decoration: none;
}

.foot-bottom a:hover {
    color: red;
}

.foot-bottom div div {
    color: #a4a4a4;
    font-size: 12px;
}

.foot-bottom div div a {
    font-size: 12px;
    color: #a4a4a4;
    text-decoration: none;
}


/* 中间区域 */

.diannao {
    width: 1200px;
    min-width: 1200px;
    height: 720px;
}

.diannao .diannao-bottom1 {
    width: 1200px;
    height: 36px;
    line-height: 36px;
    background: sandybrown;
    padding-left: 10px;
    margin-bottom: 20px;
    /* display: flex; */
}

.diannao .diannao-bottom1 h6 {
    font-size: 26px;
    height: 36px;
    color: #333;
    width: 100px;
    float: left;
    line-height: 36px;
    margin: 0;
}

.diannao .diannao-bottom1 a {
    display: block;
    width: 98px;
    height: 16px;
    float: right;
    font-size: 12px;
    color: #333333;
}

.diannao .diannao-bottom1 a span {
    color: 14px;
}

.diannao .diannao-top {
    height: 628px;
    width: 100%;
    background: blue;
}